<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Page Title -->
    <title>Dashmin - Multipurpose Bootstrap Dashboard Template</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/fonts/icofont/icofont.min.css" th:href="@{/fonts/icofont/icofont.min.css}">
    <link rel="stylesheet" href="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.css" th:href="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.css}">
    <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

    <!-- ======= MAIN STYLES ======= -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- ======= END MAIN STYLES ======= -->

</head>

<body>
    <div class="mn-vh-100 d-flex align-items-center mx-1350">
        <div class="container-fluid">
            <!-- Card -->
            <div class="card justify-content-center py-5 px-4">
                <div class="row justify-content-center pt-30 pb-2">
                    <div class="col-xl-10 text-center">
                        <h1 class="mb-3">We Are Getting Ready To Launch In</h1>
                        <p>Mauris neque nisi, faucibus non elementum in, convallis et eros. Sed pretium sem libero, vel pellentesque purus ultrices ut. In quis leo id massa pulvinar euismod urna non efficitur. Nulla nec lacus tincidunt, rutrum arcu in, euismod diam.</p>
                    </div>
                    
                    <div class="col-xl-12">
                        <div id="DateCountdown" data-date="2022-04-08 00:00:00"></div>
                    </div>

                    <div class="col-xl-5 col-lg-7 col-md-9">
                        <h4 class="mb-4 font-20 text-center">Stay connected to get notify</h4>
                        <form action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&id=f4e0e93d1d">
                            <!-- Form Group -->
                            <div class="d_input-group mb-30">
                                <input type="email" class="theme-input-style rounded-fill" placeholder="Email Address">

                                <!-- Submit -->
                                <button type="submit" class="btn-circle">
                                    <img src="../static/img/svg/send.svg" th:src="@{/img/svg/send.svg}" alt="" class="svg">
                                </button>
                                <!-- End Submit -->
                            </div>
                            <!-- End Form Group -->
                            
                        </form>
                    </div>                                    
                </div>
            </div>
            <!-- End Card -->
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer style--two">
       Dashmin © 2020 created by <a href="https://www.themelooks.com/"> ThemeLooks</a>
    </footer>
    <!-- End Footer -->

    <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script src="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.js" th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
    <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->

    <!-- ======= BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
    <script src="../static/plugins/time-circles/TimeCircles.js" th:src="@{/plugins/time-circles/TimeCircles.js}"></script>
    <script src="../static/plugins/time-circles/custom-TimeCircles.js" th:src="@{/plugins/time-circles/custom-TimeCircles.js}"></script>
    <!-- ======= End BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->

</body>

</html>