<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <!-- Page Title -->
   <title>Smart Garage - for the smart driver</title>

   <!-- Meta Data -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="keywords" content="">

   <!-- Favicon -->
   <link rel="shortcut icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}">

   <!-- Web Fonts -->
   <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

   <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->
   <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
   <link rel="stylesheet" href="../static/fonts/icofont/icofont.min.css" th:href="@{/fonts/icofont/icofont.min.css}">
   <link rel="stylesheet" href="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.css" th:href="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.css}">
   <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

   <!-- ======= MAIN STYLES ======= -->
   <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
   
   <!-- ======= BEGIN PAGE LEVEL PLUGINS STYLES ======= -->
   <link rel="stylesheet" href="../static/plugins/datepicker/datepicker.min.css" th:href="@{/plugins/datepicker/datepicker.min.css}">
   <link rel="stylesheet" href="../static/plugins/timepicker/jquery.timepicker.min.css" th:href="@{/plugins/timepicker/jquery.timepicker.min.css}">
   <link rel="stylesheet" href="../static/plugins/daterangepicker/daterangepicker.css" th:href="@{/plugins/daterangepicker/daterangepicker.css}">
   <!-- ======= END BEGIN PAGE LEVEL PLUGINS STYLES ======= -->

   <link rel="stylesheet" href="../static/css/style.css" th:src="@{/static/assets/css/style.css}">
   <!-- ======= END MAIN STYLES ======= -->

</head>

<body>

   <!-- Offcanval Overlay -->
   <div class="offcanvas-overlay"></div>
   <!-- Offcanval Overlay -->

   <!-- Wrapper -->
   <div class="wrapper">

      <!-- Header -->
      <header class="header white-bg fixed-top d-flex align-content-center flex-wrap" th:insert="fragments.html :: header">
      </header>
      <!-- End Header -->

      <!-- Main Wrapper -->
      <div class="main-wrapper">
         <!-- Sidebar -->
         <nav class="sidebar" data-trigger="scrollbar" th:insert="fragments.html :: sidebar">
         </nav>
         <!-- End Sidebar -->

         <!-- Main Content -->

         <div class="main-content">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-12">
                     <div class="card bg-transparent">
                        <!-- Contact Header -->
                        <div class="contact-header d-flex align-items-sm-center media flex-column flex-sm-row bg-white mb-30">
                           <div class="contact-header-left media-body d-flex align-items-center mr-4">
                              <!-- Add New Contact Btn -->
                              <div class="add-new-contact mr-20" th:if="${not #strings.equalsIgnoreCase(session.currentUser.getUserRole().getRoleName(), 'User')}">
                                 <a href="#" class="btn-circle" data-toggle="modal"
                                    data-target="#contactAddModal">
                                    <img src="../static/img/svg/plus_white.svg"
                                         th:src="@{/img/svg/plus_white.svg}" alt="" class="svg">
                                 </a>
                              </div>
                              <!-- End Add New Contact Btn -->

                              <!-- Search Form -->
                              <form action="#" th:action="@{/employee/visits}">
                                 <div class="form-row">
                                    <div class="form-group mt-3 ml-10">
                                       <div class="theme-input-group style--two" >
                                          <label>
                                             <input type="text" name="keyword" class="theme-input-style"
                                                    placeholder="Search">
                                          </label>
                                       </div>
                                    </div>
                                    <div class="form-group mt-3 ml-20">
                                       <div class="custom-select style--two">
                                          <select class="theme-input-style" style="height: 50px; width: 150px;"
                                                  id="exampleSelect1" name="type">
                                             <option value="name">Owner name</option>
                                             <option value="licensePlate">License plate</option>
                                             <option value="model">Brand and model</option>
                                          </select>
                                       </div>
                                    </div>
                                    <div class="form-group ml-35 mt-3">
                                       <div class="dashboard-date style--four">
                                           <span class="input-group-addon">
                                              <img src="../static/img/svg/calender.svg" th:src="@{/static/img/svg/calender.svg}" alt="" class="svg">
                                            </span>

                                          <input type="date" name="startDate" id="default-date" placeholder="Select Date"/>

                                       </div>
                                    </div>
                                    <div class="form-group ml-35 mt-3">
                                       <div class="dashboard-date style--four">
                                           <span class="input-group-addon">
                                              <img src="../static/img/svg/calender.svg" th:src="@{static/img/svg/calender.svg}" alt="" class="svg">
                                            </span>

                                          <input type="date" data-provide="datepicker" name="endDate" id="default-date1" placeholder="Select Date"/>
                                       </div>
                                    </div>

                                    <div class="form-group mt-3 ml-20">
                                       <div class="custom-select style--two">
                                          <select class="theme-input-style" style="width: 250px;"
                                                  id="exampleSelect2" name="sort">
                                             <option value="name">Sort by name (Ascending)</option>
                                             <option value="name_desc">Sort by name (Descending)</option>
                                             <option value="price">Sort by price (Ascending)</option>
                                             <option value="price_desc">Sort by price (Descending)</option>
                                             <option value="date">Sort by date (Ascending)</option>
                                             <option value="date_desc">Sort by date (Descending)</option>
                                          </select>
                                       </div>
                                    </div>
                                    <div class="form-group mt-2 ml-20">
                                       <div class="button-group pt-1">
                                          <button type="submit" class="btn">Search</button>
                                          <button href="#" th:href="@{/employee/visits}"
                                                  class="link-btn bg-transparent ml-3 soft-pink">
                                             Clear
                                          </button>
                                       </div>
                                       <!--                                            <button type="submit"><img src="../../../assets/img/svg/search-icon.svg"-->
                                       <!--                                                                       alt=""-->
                                       <!--                                                                       class="svg"></button>-->
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                        <!-- End Contact Header -->
                     </div>
                     <div class="card mb-30">
                        <div class="card-body">
                           <div class="d-sm-flex justify-content-between align-items-center">
                              <h4 class="font-20">Recent in progress tasks</h4>
                           </div>
                        </div>
                        <div class="table-responsive">
                           <!-- Invoice List Table -->
                           <table class="text-nowrap bg-white dh-table">
                              <thead>
                              <tr>
                                 <th>Customer <img src="../static/img/svg/table-down-arrow.svg" th:src="@{/img/svg/table-down-arrow.svg}" alt="" class="svg"></th>
                                 <th>Total price <img src="../static/img/svg/table-down-arrow.svg" th:src="@{/img/svg/table-down-arrow.svg}" alt="" class="svg"></th>
                                 <th>Start date <img src="../static/img/svg/table-down-arrow.svg" th:src="@{/img/svg/table-down-arrow.svg}" alt="" class="svg"></th>
                                 <!--                                 <th>Tag <img src="../static/img/svg/table-down-arrow.svg" th:src="@{/img/svg/table-down-arrow.svg}" alt="" class="svg"></th>-->
                                 <th>Status <img src="../static/img/svg/table-down-arrow.svg" th:src="@{/img/svg/table-down-arrow.svg}" alt="" class="svg"></th>
                                 <th>Details</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr th:each="visit : ${visits}">
                                 <td th:text="${visit.getRegisteredVehicle().getOwner().getFirstName()} + ' ' + ${visit.getRegisteredVehicle().getOwner().getLastName()}">Christine McDonald</td>
                                 <td th:text="${'$' + visit.getTotalPrice()}">$1564.32</td>
                                 <td th:text="${#temporals.format(visit.getStartDate(), 'dd MMMM yyyy')}">26 November 2019</td>
                                 <!--                                 <td>UX Solutions</td>-->
                                 <td><button type="button" class="status-btn un_paid" th:if="${visit.getStatus().getStatusId() == 2}">Not started</button>
                                    <button type="button" class="status-btn on_hold" th:if="${visit.getStatus().getStatusId() == 1}">In progress</button>
                                    <button type="button" class="status-btn paid" th:if="${visit.getStatus().getStatusId() == 3}">Ready for pickup</button>
                                 </td>
                                 <td><a href="#" th:href="@{/employee/visits/detailed/{visitId}(visitId=${visit.getVisitId()})}" class="details-btn">View Details <i class="icofont-arrow-right"></i></a></td>
                              </tr>
                              </tbody>
                           </table>
                           <!-- End Invoice List Table -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Main Content -->
      </div>
      <!-- End Main Wrapper -->

      <!-- Footer -->
      <footer class="footer" th:insert="fragments.html :: footer">
      </footer>
      <!-- End Footer -->
   </div>
   <!-- End wrapper -->

   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
   <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
   <script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
   <script src="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.js" th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
   <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->

   <!-- ======= BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
   <script src="../static/plugins/jquery-ui/jquery-ui.min.js" th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
   <script src="../static/plugins/moment/moment.min.js" th:src="@{/plugins/moment/moment.min.js}"></script>
   <script src="../static/plugins/datepicker/datepicker.min.js" th:src="@{/plugins/datepicker/datepicker.min.js}"></script>
   <script src="../static/plugins/timepicker/jquery.timepicker.min.js" th:src="@{/plugins/timepicker/jquery.timepicker.min.js}"></script>
   <script src="../static/plugins/daterangepicker/daterangepicker.js" th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
   <script src="../static/plugins/datepicker/i18n/datepicker.en.js" th:src="@{/plugins/datepicker/i18n/datepicker.en.js}"></script>
   <script src="../static/plugins/datepicker/custom-form-datepicker.js" th:src="@{plugins/datepicker/custom-form-datepicker.js}"></script>
   <!-- ======= End BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
</body>
</html>