<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <!-- Page Title -->
   <title>Smart Garage - for the smart driver</title>

   <!-- Meta Data -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="keywords" content="">

   <!-- Favicon -->
   <link rel="shortcut icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}">

   <!-- Web Fonts -->
   <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

   <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->
   <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
   <link rel="stylesheet" href="../static/fonts/icofont/icofont.min.css" th:href="@{/fonts/icofont/icofont.min.css}">
   <link rel="stylesheet" href="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.css" th:href="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.css}">
   <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

   <!-- ======= MAIN STYLES ======= -->
   <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
   
   <!-- ======= BEGIN PAGE LEVEL PLUGINS STYLES ======= -->
   <link rel="stylesheet" href="../static/plugins/apex/apexcharts.css" th:href="@{/plugins/apex/apexcharts.css}">
   <!-- ======= END BEGIN PAGE LEVEL PLUGINS STYLES ======= -->


   <!-- ======= END MAIN STYLES ======= -->

</head>

<body>

   <!-- Offcanval Overlay -->
   <div class="offcanvas-overlay"></div>
   <!-- Offcanval Overlay -->

   <!-- Wrapper -->
   <div class="wrapper">

      <!-- Header -->
      <header class="header white-bg fixed-top d-flex align-content-center flex-wrap" th:insert="fragments.html :: header">
      </header>
      <!-- End Header -->

      <!-- Main Wrapper -->
      <div class="main-wrapper">
         <!-- Sidebar -->
         <nav class="sidebar" data-trigger="scrollbar" th:insert="fragments.html :: sidebar">
         </nav>
         <!-- End Sidebar -->

         <!-- Main Content -->

         <div class="main-content">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-4 col-sm-6">
                     <div class="card mb-30 progress_1">
                     <div class="card-body">
                        <h4 class="progress-title">Waiting cars for maintenance</h4>
                        <div class="ProgressBar-wrap position-relative mb-4">
                           <div class="ProgressBar ProgressBar_1" data-progress="50" th:with="result=(${notStartedTasks.size()}/50*100)" th:attr="data-progress=${result}">
                              <svg class="ProgressBar-contentCircle" viewBox="0 0 200 200">
                                 <!-- on défini le l'angle et le centre de rotation du cercle -->
                                 <circle transform="rotate(135, 100, 100)" class="ProgressBar-background" cx="100" cy="100" r="8" />
                                 <circle transform="rotate(135, 100, 100)" class="ProgressBar-circle" cx="100" cy="100" r="90" />
                              </svg>
                              <span class="ProgressBar-percentage--text">
                                          Capacity
                                       </span>
                              <span class="ProgressBar-percentage ProgressBar-percentage--count"></span>
                           </div>
                        </div>

                        <div class="d-flex flex-wrap mb-2 progress-info">
                           <div>Waiting cars</div>
                           <div th:text="${notStartedTasks.size()}"><img src="assets/img/svg/caret-up.svg" alt="" class="svg">1</div>
                        </div>

                        <div class="d-flex flex-wrap progress-info">
                           <div>Parking capacity</div>
                           <div><img src="assets/img/svg/caret-down.svg" alt="" class="svg">50</div>
                        </div>
                     </div>
                  </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="card mb-30 progress_2">
                     <div class="card-body">
                        <h4 class="progress-title">Cars in service</h4>

                        <div class="ProgressBar-wrap position-relative mb-4">
                           <div class="ProgressBar ProgressBar_2" data-progress="35" th:with="result=(${notStartedTasks.size()}/9*100)" th:attr="data-progress=${#numbers.formatDecimal(result, 1, 0)}">
                              <svg class="ProgressBar-contentCircle" viewBox="0 0 200 200">
                                 <!-- on défini le l'angle et le centre de rotation du cercle -->
                                 <circle transform="rotate(135, 100, 100)" class="ProgressBar-background" cx="100" cy="100" r="85" />
                                 <circle transform="rotate(135, 100, 100)" class="ProgressBar-circle" cx="100" cy="100" r="90" />
                              </svg>
                              <span class="ProgressBar-percentage--text">Capacity</span>
                              <span class="ProgressBar-percentage ProgressBar-percentage--count"></span>
                           </div>
                        </div>

                        <div class="d-flex flex-wrap mb-2 progress-info">
                           <div>Repaired cars</div>
                           <div th:text="${notStartedTasks.size()}"><img src="assets/img/svg/caret-up.svg" alt="" class="svg">1</div>
                        </div>

                        <div class="d-flex flex-wrap progress-info">
                           <div>Parking capacity</div>
                           <div><img src="assets/img/svg/caret-down.svg" alt="" class="svg">9</div>
                        </div>
                     </div>
                  </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <!-- Card -->
                     <div class="card mb-30 progress_3 mr-0">
                        <div class="card-body">
                           <h4 class="progress-title">Company Growth</h4>

                           <div class="ProgressBar-wrap position-relative mb-4">
                              <div class="ProgressBar ProgressBar_3" data-progress="70">
                                 <svg class="ProgressBar-contentCircle" viewBox="0 0 200 200">
                                    <!-- on défini le l'angle et le centre de rotation du cercle -->
                                    <circle transform="rotate(135, 100, 100)" class="ProgressBar-background" cx="100" cy="100" r="85" stroke-width="20" />
                                    <circle transform="rotate(135, 100, 100)" class="ProgressBar-circle" cx="100" cy="100" r="85" stroke-width="20" />
                                 </svg>
                                 <span class="ProgressBar-percentage--text"> Increase </span>
                                 <span class="ProgressBar-percentage ProgressBar-percentage--count"></span>
                              </div>
                           </div>

                           <div class="d-flex flex-wrap mb-2 progress-info">
                              <div>Employee</div>
                              <div><img src="assets/img/svg/caret-up.svg" alt="" class="svg">15</div>
                              <div><img src="assets/img/svg/caret-down.svg" alt="" class="svg">3</div>
                           </div>


                           <div class="d-flex flex-wrap progress-info">
                              <div>Production</div>
                              <div><img src="assets/img/svg/caret-up.svg" alt="" class="svg">1.26k</div>
                              <div><img src="assets/img/svg/caret-down.svg" alt="" class="svg">1.2k</div>
                           </div>
                        </div>
                     </div>
                     <!-- End Card -->
                  </div>
               </div>
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-12">
                     <div class="card mb-30">
                        <div class="card-body">
                           <div class="d-sm-flex justify-content-between align-items-center">
                              <h4 class="font-20">Recent in progress tasks</h4>

                              <div class="d-flex flex-wrap">
                                 <!-- Date Picker -->
                                 <div class="dashboard-date style--six mr-20 mt-3 mt-sm-0">
                                               <span class="input-group-addon">
                                                  <img src="../static/img/svg/calender-color.svg" th:src="@{/img/svg/calender-color.svg}" alt="" class="svg">
                                                </span>

                                    <input type="text" id="default-date" value="28 October 2019"/>
                                 </div>
                                 <!-- End Date Picker -->


                                 <!-- Dropdown Button -->
                                 <div class="dropdown-button mt-3 mt-sm-0">
                                    <button type="button" class="btn style--two orange" data-toggle="dropdown">Download <i class="icofont-simple-down"></i></button>

                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="#">Print</a>
                                       <a class="dropdown-item" href="#">EXL</a>
                                       <a class="dropdown-item" href="#">PDF</a>
                                    </div>
                                 </div>
                                 <!-- End Dropdown Button -->
                              </div>
                           </div>
                        </div>
                        <div class="table-responsive">
                           <!-- Invoice List Table -->
                           <table class="text-nowrap bg-white dh-table">
                              <thead>
                              <tr>
                                 <th>Customer <img src="../static/img/svg/table-down-arrow.svg" th:src="@{/img/svg/table-down-arrow.svg}" alt="" class="svg"></th>
                                 <th>Total price <img src="../static/img/svg/table-down-arrow.svg" th:src="@{/img/svg/table-down-arrow.svg}" alt="" class="svg"></th>
                                 <th>Start date <img src="../static/img/svg/table-down-arrow.svg" th:src="@{/img/svg/table-down-arrow.svg}" alt="" class="svg"></th>
<!--                                 <th>Tag <img src="../static/img/svg/table-down-arrow.svg" th:src="@{/img/svg/table-down-arrow.svg}" alt="" class="svg"></th>-->
                                 <th>Status <img src="../static/img/svg/table-down-arrow.svg" th:src="@{/img/svg/table-down-arrow.svg}" alt="" class="svg"></th>
                                 <th>Details</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr th:each="visit : ${inProgressTasks}">
                                 <td th:text="${visit.getRegisteredVehicle().getOwner().getFirstName()} + ' ' + ${visit.getRegisteredVehicle().getOwner().getLastName()}">Christine McDonald</td>
                                 <td th:text="${'$' + visit.getTotalPrice()}">$1564.32</td>
                                 <td th:text="${#temporals.format(visit.getStartDate(), 'dd MMMMM yyyy')}">26 November 2019</td>
<!--                                 <td>UX Solutions</td>-->
                                 <td><button type="button" class="status-btn on_hold">In progress</button></td>
                                 <td><a href="invoice-details.html" class="details-btn">View Details <i class="icofont-arrow-right"></i></a></td>
                              </tr>
                              </tbody>
                           </table>
                           <!-- End Invoice List Table -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-12">
                     <div class="card mb-30">
                        <div class="card-body">
                           <div class="d-sm-flex justify-content-between align-items-center">
                              <h4 class="font-20">Recent Not Started Tasks</h4>

                              <div class="d-flex flex-wrap">
                                 <!-- Date Picker -->
                                 <div class="dashboard-date style--six mr-20 mt-3 mt-sm-0">
                                               <span class="input-group-addon">
                                                  <img src="../static/img/svg/calender-color.svg" th:src="@{/img/svg/calender-color.svg}" alt="" class="svg">
                                                </span>

                                    <input type="text" id="default-date1" value="28 October 2019"/>
                                 </div>
                                 <!-- End Date Picker -->


                                 <!-- Dropdown Button -->
                                 <div class="dropdown-button mt-3 mt-sm-0">
                                    <button type="button" class="btn style--two orange" data-toggle="dropdown">Download <i class="icofont-simple-down"></i></button>

                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="#">Print</a>
                                       <a class="dropdown-item" href="#">EXL</a>
                                       <a class="dropdown-item" href="#">PDF</a>
                                    </div>
                                 </div>
                                 <!-- End Dropdown Button -->
                              </div>
                           </div>
                        </div>
                        <div class="table-responsive">
                           <!-- Invoice List Table -->
                           <table class="text-nowrap bg-white dh-table">
                              <thead>
                              <tr>
                                 <th>Customer <img src="../static/img/svg/table-down-arrow.svg" th:src="@{/img/svg/table-down-arrow.svg}" alt="" class="svg"></th>
                                 <th>Total price <img src="../static/img/svg/table-down-arrow.svg" th:src="@{/img/svg/table-down-arrow.svg}" alt="" class="svg"></th>
                                 <th>Start date <img src="../static/img/svg/table-down-arrow.svg" th:src="@{/img/svg/table-down-arrow.svg}" alt="" class="svg"></th>
                                 <!--                                 <th>Tag <img src="../static/img/svg/table-down-arrow.svg" th:src="@{/img/svg/table-down-arrow.svg}" alt="" class="svg"></th>-->
                                 <th>Status <img src="../static/img/svg/table-down-arrow.svg" th:src="@{/img/svg/table-down-arrow.svg}" alt="" class="svg"></th>
                                 <th>Details</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr th:each="visit : ${notStartedTasks}">
                                 <td th:text="${visit.getRegisteredVehicle().getOwner().getFirstName()} + ' ' + ${visit.getRegisteredVehicle().getOwner().getLastName()}">Christine McDonald</td>
                                 <td th:text="${'$' + visit.getTotalPrice()}">$1564.32</td>
                                 <td th:text="${#temporals.format(visit.getStartDate(), 'dd MMMM yyyy')}">26 November 2019</td>
                                 <!--                                 <td>UX Solutions</td>-->
                                 <td><button type="button" class="status-btn un_paid">Not started</button></td>
                                 <td><a href="invoice-details.html" class="details-btn">View Details <i class="icofont-arrow-right"></i></a></td>
                              </tr>
                              </tbody>
                           </table>
                           <!-- End Invoice List Table -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Main Content -->
      </div>
      <!-- End Main Wrapper -->

      <!-- Footer -->
      <footer class="footer" th:insert="fragments.html :: footer">
      </footer>
      <!-- End Footer -->
   </div>
   <!-- End wrapper -->

   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
   <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
   <script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
   <script src="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.js" th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
   <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->

   <!-- ======= BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
   <script src="../static/plugins/apex/apexcharts.min.js" th:src="@{/plugins/apex/apexcharts.min.js}"></script>
   <script src="../static/plugins/apex/custom-apexcharts.js" th:src="@{/plugins/apex/custom-apexcharts.js}"></script>
   <!-- ======= End BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
</body>
</html>