<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Page Title -->
    <title>Smart Garage - for the smart driver</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/fonts/icofont/icofont.min.css" th:href="@{/fonts/icofont/icofont.min.css}">
    <link rel="stylesheet" href="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.css"
          th:href="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.css}">
    <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

    <!-- ======= MAIN STYLES ======= -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

    <!-- ======= BEGIN PAGE LEVEL PLUGINS STYLES ======= -->
    <link rel="stylesheet" href="../static/plugins/apex/apexcharts.css" th:href="@{/plugins/apex/apexcharts.css}">
    <!-- ======= END BEGIN PAGE LEVEL PLUGINS STYLES ======= -->


    <!-- ======= END MAIN STYLES ======= -->

</head>

<body>
    <!-- Header -->
    <header class="header white-bg fixed-top d-flex align-content-center flex-wrap" th:fragment="header">
        <!-- Logo -->
        <div class="logo">
            <a href="#" th:href="@{/employee/home}" class="default-logo"><img src="../static/img/new-logo.png" th:src="@{/img/new-logo.png}" alt=""></a>
            <a href="#" class="mobile-logo"><img src="../static/img/mobile-logo.png" th:src="@{/img/mobile-logo.png}" alt=""></a>
        </div>
        <!-- End Logo -->

        <!-- Main Header -->
        <div class="main-header">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-3 col-lg-1 col-xl-4">
                        <!-- Header Left -->
                        <div class="main-header-left h-100 d-flex align-items-center">
                            <!-- Main Header User -->
                            <div class="main-header-user">
                                <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                    <div class="menu-icon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>

                                    <div class="user-profile d-xl-flex align-items-center d-none">
                                        <!-- User Avatar -->
                                        <div class="user-avatar">
                                            <img src="../static/img/user.png" th:src="@{/img/user.png}" alt="">
                                        </div>
                                        <!-- End User Avatar -->

                                        <!-- User Info -->
                                        <div class="user-info">
                                            <h4 class="user-name" th:text="${session.currentUser.firstName} + ' ' + ${session.currentUser.lastName}">Abrilay Khatun</h4>
                                            <p class="user-email" th:text="${session.currentUser.email}">abrilakh@gmail.com</p>
                                        </div>
                                        <!-- End User Info -->
                                    </div>
                                </a>
                                <div class="dropdown-menu">
                                    <a href="#">About</a>
                                    <a href="#" th:href="@{/logout}">Log Out</a>
                                </div>
                            </div>
                            <!-- End Main Header User -->

                            <!-- Main Header Menu -->
                            <div class="main-header-menu d-block d-lg-none">
                                <div class="header-toogle-menu">
                                    <!-- <i class="icofont-navigation-menu"></i> -->
                                    <img src="../static/img/menu.png" th:src="@{/img/menu.png}" alt="">
                                </div>
                            </div>
                            <!-- End Main Header Menu -->
                        </div>
                        <!-- End Header Left -->
                    </div>
                    <div class="col-9 col-lg-11 col-xl-8">
                        <!-- Header Right -->
                        <div class="main-header-right d-flex justify-content-end">
                            <ul class="nav">
                                <li class="ml-0">
                                    <!-- Main Header Language -->
                                    <!-- End Main Header Language -->
                                </li>
                                <li class="ml-0 d-none d-lg-flex">
                                    <!-- Main Header Print -->
                                    <!-- End Main Header Print -->
                                </li>
                                <li class="d-none d-lg-flex">
                                    <!-- Main Header Time -->
                                    <div class="main-header-date-time text-right">
                                        <h3 class="time">
                                            <span id="hours" th:text="${#temporals.format(localDate, 'HH')}">21</span>
                                            <span id="point">:</span>
                                            <span id="min" th:text="${#temporals.format(localDate, 'mm')}">06</span>
                                        </h3>
                                        <span class="date" th:text="${#temporals.format(localDate, 'EEEE')} + ', ' + ${#temporals.format(localDate, 'dd/MM/yyyy')}"><span id="date">Tue, 12 October 2019</span></span>
                                    </div>
                                    <!-- End Main Header Time -->
                                </li>
                            </ul>
                        </div>
                        <!-- End Header Right -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Header -->
    </header>
        <!-- End Main Header -->

    <!-- End Header -->

    <!-- Main Wrapper -->
        <!-- Sidebar -->
        <nav class="sidebar" data-trigger="scrollbar">
           <div th:fragment="sidebar">
            <!-- Sidebar Header -->
            <div class="sidebar-header d-none d-lg-block">
                <!-- Sidebar Toggle Pin Button -->
                <div class="sidebar-toogle-pin">
                    <i class="icofont-tack-pin"></i>
                </div>
                <!-- End Sidebar Toggle Pin Button -->
            </div>
            <!-- End Sidebar Header -->

            <!-- Sidebar Body -->
            <div class="sidebar-body">
                <!-- Nav -->
                <ul class="nav">
                    <li class="nav-category">Home</li>
                    <li class="active">
                        <a th:href="@{/employee/home}" href="#">
                            <i class="icofont-pie-chart"></i>
                            <span class="link-title">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/services}">
                            <i class="icofont-fix-tools"></i>
                            <span class="link-title">Services</span>
                        </a>
                        <!-- End Sub Menu -->
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-list"></i>
                            <span class="link-title">Visits</span>
                        </a>
                        <ul class="nav sub-menu">
                            <li><a href="#" th:href="@{/employee/visits/create}">Create new visit</a></li>
                            <li><a href="#" th:href="@{/employee/visits}">All visits</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#" th:href="@{/customers}">
                            <i class="icofont-users-alt-1"></i>
                            <span class="link-title">Customers</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/vehicles}">
                            <i class="icofont-auto-mobile"></i>
                            <span class="link-title">Vehicles</span>
                        </a>
                    </li>
                </ul>
                <!-- End Nav -->
            </div>
            <!-- End Sidebar Body -->
           </div>
        </nav>

    <!-- Footer -->
    <footer class="footer" th:fragment="footer">
        This is a project created for the learning purposes of Telerik Academy by Yordan Bradushev and Ivan Petkov
    </footer>
    <!-- End Footer -->

<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.js"
        th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->

<!-- ======= BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
<script src="../static/plugins/apex/apexcharts.min.js" th:src="@{/plugins/apex/apexcharts.min.js}"></script>
<script src="../static/plugins/apex/custom-apexcharts.js" th:src="@{/plugins/apex/custom-apexcharts.js}"></script>
<!-- ======= End BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
</body>
</html>