<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <!-- Page Title -->
   <title>Smart Garage - for the smart driver</title>

   <!-- Meta Data -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="keywords" content="">

   <!-- Favicon -->
   <link rel="shortcut icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}">

   <!-- Web Fonts -->
   <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

   <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->
   <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
   <link rel="stylesheet" href="../static/fonts/icofont/icofont.min.css" th:href="@{/fonts/icofont/icofont.min.css}">
   <link rel="stylesheet" href="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.css" th:href="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.css}">
   <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

   <!-- ======= MAIN STYLES ======= -->
   <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
   
   <!-- ======= BEGIN PAGE LEVEL PLUGINS STYLES ======= -->
   <link rel="stylesheet" href="../static/plugins/apex/apexcharts.css" th:href="@{/plugins/apex/apexcharts.css}">
   <!-- ======= END BEGIN PAGE LEVEL PLUGINS STYLES ======= -->


   <!-- ======= END MAIN STYLES ======= -->

</head>

<body>

   <!-- Offcanval Overlay -->
   <div class="offcanvas-overlay"></div>
   <!-- Offcanval Overlay -->

   <!-- Wrapper -->
   <div class="wrapper">

      <!-- Header -->
      <header class="header white-bg fixed-top d-flex align-content-center flex-wrap" th:insert="fragments.html :: header">
      </header>
      <!-- End Header -->

      <!-- Main Wrapper -->
      <div class="main-wrapper">
         <!-- Sidebar -->
         <nav class="sidebar" data-trigger="scrollbar" th:if="${session.currentUser.getUserRole().getRoleName().equals('Employee')}" th:insert="fragments.html :: sidebar">
         </nav>
         <nav class="sidebar" data-trigger="scrollbar" th:if="${session.currentUser.getUserRole().getRoleName().equals('User')}">
            <!-- Sidebar Header -->
            <div class="sidebar-header d-none d-lg-block">
               <!-- Sidebar Toggle Pin Button -->
               <div class="sidebar-toogle-pin">
                  <i class="icofont-tack-pin"></i>
               </div>
               <!-- End Sidebar Toggle Pin Button -->
            </div>
            <!-- End Sidebar Header -->

            <!-- Sidebar Body -->
            <div class="sidebar-body">
               <!-- Nav -->
               <ul class="nav">
                  <li class="nav-category">Main</li>
                  <li class="active">
                     <a href="#" th:href="@{/user/{userId}(userId=${session.currentUser.getUserId()})}">
                        <i class="icofont-ui-home"></i>
                        <span class="link-title">Home</span>
                     </a>
                  </li>
                  <li>
                     <a href="#" th:href="@{/user/change-password}">
                        <i class="icofont-ui-password"></i>
                        <span class="link-title">Change password</span>
                     </a>
                  </li>
               </ul>
               <!-- End Nav -->
            </div>
            <!-- End Sidebar Body -->
         </nav>

         <!-- End Sidebar -->

         <!-- Main Content -->

         <div class="main-content">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-12">
                     <!-- Invoice Header -->
                     <div class="invoice-details-header bg-white d-flex align-items-sm-center flex-column flex-sm-row mb-30 justify-content-sm-between">
                        <div class="d-flex align-items-center">
                           <h2 class="regular mr-3 font-30">Visit</h2>
                           <h4 class="c4" th:text="'#' + ${visit.getVisitId()}">#256987</h4>
                        </div>

                        <div class="invoice-header-right d-flex align-items-center justify-content-around justify-content-sm-end mt-3 mt-sm-0">

                           <!-- Edit Invoice Button -->
<!--                              <a href="#" th:if="${visit.getStatus().getStatusId() != 3}" th:href="@{/employee/visits/detailed/{visitId}/revert(visitId=${visit.getVisitId()})}" class="main-header-btn">-->
<!--                                 Revert status-->
<!--                              </a>-->
                           <form action="" method="post" th:if="${visit.getStatus().getStatusId() != 3}" th:unless="${session.currentUser.getUserRole().getRoleName().equals('User')}" th:action="@{/employee/visits/detailed/{visitId}/revert(visitId=${visit.getVisitId()})}">
                              <button class="btn" type="submit">Revert status</button>
                           </form>
                           <!-- End Edit Invoice Button -->
                        </div>
                     </div>
                     <!-- End Invoice Header -->

                     <!-- Invoice Top -->
                     <div class="invoice-pd c2-bg" data-bg-img="../../static/img/media/invoice-pattern.png">
                        <div class="row">

                           <div class="col-md-4">
                              <!-- Invoice Right -->
                              <div class="invoice-right mt-5 mt-md-0">
                                 <h3 class="white font-20 mb-3">Details</h3>

                                 <ul class="status-list">
                                    <li><span class="key font-14">Visit No:</span> <span class="white bold font-17" th:text="'#' + ${visit.getVisitId()}">#0165</span></li>
                                    <li><span class="key font-14">Start date:</span> <span class="white bold font-17" th:text="${#temporals.format(visit.getStartDate(), 'dd MMMM yyyy')}">08/12/2019</span></li>
                                    <li><span class="key font-14">End Date:</span> <span class="white bold font-17" th:text="${visit.getEndDate() != null} ? ${#temporals.format(visit.getStartDate(), 'dd MMMM yyyy')} : 'TBA'">07/03/2019</span></li>
                                    <li><span class="key font-14">Total Price:</span> <span class="white bold font-17" th:text="${visit.getTotalPrice()}">#12</span></li>
                                    <li><span class="key font-14">Status:</span>
                                       <span>
                                          <button type="button" class="status-btn un_paid" th:if="${visit.getStatus().getStatusId() == 2}">Not started</button>
                                          <button type="button" class="status-btn on_hold" th:if="${visit.getStatus().getStatusId() == 1}">In progress</button>
                                          <button type="button" class="status-btn paid" th:if="${visit.getStatus().getStatusId() == 3}">Ready for pickup</button>
                                       </span>
                                    </li>
                                 </ul>
                              </div>
                              <!-- End Invoice Right -->
                           </div>
                        </div>
                     </div>
                     <!-- End Invoice Top -->

                     <!-- Invois Wrapper -->
                     <div class="bg-white invoice-pd">
                        <div class="row">
                           <div class="col-xl-4 col-md-6">
                              <!-- Invoice To -->
                              <div class="invoice invoice-form">
                                 <div class="invoice-title c4 bold font-14 mb-3">Invoice To</div>

                                 <ul class="list-invoice">
                                    <li class="user bold black font-17" th:text="${visit.getRegisteredVehicle().getOwner().getFirstName()} + ' ' + ${visit.getRegisteredVehicle().getOwner().getLastName()}">Adam Hudson</li>
                                    <li class="call">
                                       <a href="tel:+01234567891" th:text="${visit.getRegisteredVehicle().getOwner().getPhoneNumber()}">+0 (123) 456 7891</a>
                                    </li>
                                    <li class="mail"><a href="mailto:adamhud@email.com" th:text="${visit.getRegisteredVehicle().getOwner().getEmail()}">adamhud@email.com</a></li>
                                 </ul>
                              </div>
                              <!-- End Invoice To -->
                           </div>
                           <div class="col-xl-4 col-md-6">
                              <!-- Invoice From -->
                              <div class="invoice invoice-to mt-5 mt-md-0">
                                 <div class="invoice-title c4 bold font-14 mb-3">Invoice From</div>

                                 <ul class="list-invoice">
                                    <li class="user bold black font-17">Smart garage</li>
                                    <li class="location">Sample location</li>
                                    <li class="call">
                                       <a href="tel:+01234567891">Sample phone</a>
                                    </li>
                                    <li class="mail"><a href="mailto:adamhud@email.com">Sample mail</a></li>
                                 </ul>
                              </div>
                              <!-- End Invoice From -->
                           </div>
                           <div class="col-xl-4 col-md-6">
                              <!-- Invoice Payment Details -->
                              <div class="invoice payment-details mt-5 mt-xl-0">
                                 <div class="invoice-title c4 bold font-14 mb-3">Car Details:</div>

                                 <ul class="status-list">
                                    <li><span class="key">Car brand</span> <span class="black font-17 black bold" th:text="${visit.getRegisteredVehicle().getVehicle().getModel().getBrand().getBrandName()}">$5694.54</span></li>
                                    <li><span class="key">Car model</span> <span class="black" th:text="${visit.getRegisteredVehicle().getVehicle().getModel().getModelName()}">DR International Bank</span></li>
                                    <li><span class="key">Year</span> <span class="black" th:text="${visit.getRegisteredVehicle().getVehicle().getYear()}">AS4F1</span></li>
                                    <li><span class="key">VIN</span> <span class="black" th:text="${visit.getRegisteredVehicle().getVin()}">ETD85039283901259</span></li>
                                    <li><span class="key">License Plate</span> <span class="black" th:text="${visit.getRegisteredVehicle().getLicensePlate()}">Canada</span></li>
                                 </ul>
                              </div>
                              <!-- End Invoice Payment Details -->
                           </div>
                        </div>
                     </div>
                     <!-- End Invois Wrapper -->

                     <!-- Invoice Details List Wrapper -->
                     <div class="bg-white details-list-wrap">
                        <div class="table-responsive">
                           <!-- Invoice List Table -->
                           <table class="invoice-list-table style-two some-center text-nowrap">
                              <thead>
                              <tr>
                                 <th>#ID</th>
                                 <th>Service name</th>
                                 <th>Amount</th>
                              </tr>
                              </thead>

                              <tbody class="bg-white">
                              <tr th:each="service : ${visit.getServicesList()}">
                                 <td class="bold" th:text="${service.getServiceId()}">#01</td>
                                 <td th:text="${service.getServiceName()}">PSD to html conversion</td>
                                 <td th:text="${service.getPrice()} + 'BGN'">26 BGN</td>
                              </tr>
                              </tbody>
                           </table>
                           <!-- End Invoice List Table -->
                        </div>

                        <!-- Cart Collaterals -->
                        <div class="cart-collaterals">
                           <div class="cart_totals calculated_shipping">
                              <table class="shop_table style-two">
                                 <tbody>
                                 </tr>
                                 <tr class="order-total">
                                    <td>Total</td>
                                    <td>
                                       <strong>
                                          <span class="Price-amount amount" th:text="${visit.getTotalPrice()} + 'BGN'">3654.45 BGN</span>
                                       </strong>
                                    </td>
                                 </tr>
                                 </tbody>
                              </table>

                              <form th:action="@{/employee/visits/{visitId}/export/pdf(visitId=${visit.getVisitId()})}">
                              <div class="proceed-to-checkout d-flex align-items-center justify-content-end mr-20 mt-4">
                                 <div class="custom-select style--two">
                                    <select class="theme-input-style" id="currencySelect" name="currencySelect">
                                       <option value="BGN">BGN</option>
                                       <option value="USD">USD</option>
                                       <option value="EUR">EUR</option>
                                       <option value="RUB">RUB</option>
                                       <option value="AUD">AUD</option>
                                       <option value="JPY">JPY</option>
                                    </select>
                                 </div>
                                 <button type="submit" style="background-color: white;" class="download-btn mr-3"><img src="../static/img/svg/download.svg" th:src="@{/img/svg/download.svg}" alt="" class="svg"></button>
<!--                                 <a href="#" class="print-btn mr-20"><img src="../../../assets/img/svg/print-yellow.svg" alt="" class="svg"></a>-->
<!--                                 <a href="#" class="btn">Order Now</a>-->
                              </div>
                              </form>
                           </div>
                        </div>
                        <!-- End Cart Collaterals -->
                     </div>
                     <!-- End Invoice Details List Wrapper -->
                  </div>
               </div>
            </div>
         </div>
         <!-- End Main Content -->
      </div>
      <!-- End Main Wrapper -->

      <!-- Footer -->
      <footer class="footer" th:insert="fragments.html :: footer">
      </footer>
      <!-- End Footer -->
   </div>
   <!-- End wrapper -->

   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
   <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
   <script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
   <script src="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.js" th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
   <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->

   <!-- ======= BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
   <script src="../static/plugins/apex/apexcharts.min.js" th:src="@{/plugins/apex/apexcharts.min.js}"></script>
   <script src="../static/plugins/apex/custom-apexcharts.js" th:src="@{/plugins/apex/custom-apexcharts.js}"></script>
   <!-- ======= End BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
</body>
</html>