<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Page Title -->
    <title>Smart Garage - for the smart driver</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/fonts/icofont/icofont.min.css" th:href="@{/fonts/icofont/icofont.min.css}">
    <link rel="stylesheet" href="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.css"
          th:href="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.css}">
    <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

    <!-- ======= BEGIN PAGE LEVEL PLUGINS STYLES ======= -->
    <link rel="stylesheet" href="../static/plugins/nouislider/nouislider.min.css"
          th:href="@{/plugins/nouislider/nouislider.min.css}">
    <link rel="stylesheet" href="../static/plugins/sweetalert2/sweetalert2.min.css"
          th:href="@{/plugins/sweetalert2/sweetalert2.min.css}">
    <link rel="stylesheet" href="../static/plugins/toastr/toastr.min.css"
          th:href="@{/plugins/toastr/toastr.min.css}">
    <!-- ======= END BEGIN PAGE LEVEL PLUGINS STYLES ======= -->

    <!-- ======= MAIN STYLES ======= -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- ======= END MAIN STYLES ======= -->

</head>

<body>

<!-- Offcanval Overlay -->
<div class="offcanvas-overlay"></div>
<!-- Offcanval Overlay -->

<!-- Wrapper -->
<div class="wrapper" th:with="counter=0">

    <!-- Header -->
    <header class="header white-bg fixed-top d-flex align-content-center flex-wrap"
            th:insert="fragments.html :: header">
    </header>
    <!-- End Header -->

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Sidebar -->
        <nav class="sidebar" data-trigger="scrollbar" th:insert="fragments.html :: sidebar">
        </nav>
        <!-- End Sidebar -->

        <!-- Main Content -->

        <div class="main-content d-flex flex-column flex-md-row">
            <div class="container-fluid">
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <!-- Base Horizontal Form With Icons -->
                        <div class="form-element py-30 multiple-column">
                            <form action="#" th:action="@{/employee/visits/customers/search}" class="search-form">
                                <div class="form-row">
                                    <div class="form-group mt-3 ml-10">
                                        <div class="theme-input-group style--two">
                                            <input type="text" class="theme-input-style" style="width: 450px"
                                                   name="keyword" placeholder="Search Here">

                                            <button type="submit"><img src="../static/img/svg/search-icon.svg"
                                                                       th:src="@{/img/svg/search-icon.svg}" alt=""
                                                                       class="svg"></button>
                                        </div>
                                        <label class="error" th:if="${errorText != null}"
                                               th:text="${errorText.toString()}">User not found placeholder</label>
                                    </div>
                                    <div class="form-group mt-3 ml-20">
                                        <div class="custom-select style--two">
                                            <select class="theme-input-style" style="height: 50px; width: 120px;"
                                                    id="exampleSelect1" name="type">
                                                <option value="email">Email</option>
                                                <option value="phoneNumber">Phone number</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <h4 class="font-20 mb-30">Personal details</h4>

                            <!-- Form -->
                            <form action="#" id="form" th:action="@{/employee/visits/create}" th:object="${visitDTO}"
                                  method="POST">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <!-- Form Group -->
                                        <div class="form-group">
                                            <label class="font-14 bold mb-2">First name</label>

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <img src="../static/img/svg/user3.svg"
                                                             th:src="@{/img/svg/user3.svg}" alt="" class="svg">
                                                    </div>
                                                </div>

                                                <input type="text" class="form-control pl-1"
                                                       placeholder="Type first Name" th:readonly="${user != null}"
                                                       th:value="${user != null} ? ${user.getFirstName()}"
                                                       th:name="firstName">
                                            </div>
                                        </div>
                                        <!-- End Form Group -->

                                        <!-- Form Group -->
                                        <div class="form-group">
                                            <label class="font-14 bold mb-2">Last name</label>

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <img src="../static/img/svg/user3.svg"
                                                             th:src="@{/img/svg/user3.svg}" alt="" class="svg">
                                                    </div>
                                                </div>

                                                <input type="text" class="form-control pl-1"
                                                       placeholder="Type last Name" th:readonly="${user != null}"
                                                       th:value="${user != null} ? ${user.getLastName()}"
                                                       th:name="lastName">
                                            </div>
                                        </div>
                                        <!-- End Form Group -->

                                        <!-- Form Group -->
                                        <div class="form-group">
                                            <label class="font-14 bold mb-2">Email</label>

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <img src="../static/img/svg/mail3.svg"
                                                             th:src="@{/img/svg/mail3.svg}" alt="" class="svg">
                                                    </div>
                                                </div>
                                                <input type="email" class="form-control pl-1"
                                                       placeholder="Type Email Address"
                                                       th:value="${user != null} ? ${user.getEmail()}"
                                                       th:name="email">
                                            </div>
                                        </div>
                                        <!-- End Form Group -->

                                        <!-- Form Group -->
                                        <div class="form-group">
                                            <label class="font-14 bold mb-2">Mobile phone</label>

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <img src="../static/img/svg/mobile3.svg"
                                                             th:src="@{/img/svg/mobile3.svg}" alt="" class="svg">
                                                    </div>
                                                </div>
                                                <input type="number" class="form-control pl-1"
                                                       placeholder="Type phone number" th:readonly="${user != null}"
                                                       th:value="${user != null} ? ${user.getPhoneNumber()}"
                                                       th:name="phone">
                                            </div>
                                        </div>
                                        <!-- End Form Group -->
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="d-flex align-items-center mb-3">
                                            <!-- Custom Checkbox -->
                                            <div th:if="${user != null}">
                                                <label class="custom-checkbox solid position-relative mr-2">
                                                    <script th:inline="javascript">
                                                        var user = [[${user.getUserId()}]];
                                                    </script>
                                                    <input type="checkbox" id="check">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <!-- End Custom Checkbox -->

                                                <label for="check">Is this car already registered?</label>
                                            </div>
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group mb-4">
                                            <label for="brandSelect" class="mb-2 black bold d-block">Brand</label>
                                            <div class="custom-select style--two">
                                                <select class="theme-input-style" id="brandSelect" th:name="brandId">
                                                    <!--                                                    <option value="1">-&#45;&#45;</option>-->
                                                    <option th:each="brand : ${brands}" th:value="${brand.getBrandId()}"
                                                            th:text="${brand.getBrandName()}">
                                                        Brands1
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- End Form Group -->

                                        <!-- Form Group -->
                                        <div class="form-group mb-4">
                                            <label for="modelsSelect" class="mb-2 black bold d-block">Model</label>
                                            <div class="custom-select style--two">
                                                <select disabled class="theme-input-style" id="modelsSelect"
                                                        th:name="modelId">
                                                    <!--                                                    <option>-&#45;&#45;</option>-->
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <label for="yearSelect" class="mb-2 black bold d-block">Year</label>
                                            <div class="custom-select style--two">
                                                <select disabled class="theme-input-style" id="yearSelect"
                                                        th:name="year">
                                                    <!--                                                    <option>-&#45;&#45;</option>-->
                                                    <option th:each="year : ${#numbers.sequence(1886, #dates.year(#dates.createNow()))}"
                                                            th:value="${year}"
                                                            th:text="${year}">
                                                        Brands1
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="font-14 bold mb-2">License plate</label>

                                            <div class="input-group">

                                                <input type="text" id="licensePlate" class="form-control pl-1"
                                                       placeholder="Choose brand" th:field="*{licensePlate}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="font-14 bold mb-2">VIN</label>

                                            <div class="input-group">

                                                <input type="text" id="vin" class="form-control pl-1"
                                                       placeholder="Choose brand" th:field="*{vin}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <!-- End Form Group -->

                                    <div class="form-group mt-10 mb-10">
                                            <h4>All services</h4>
                                            <br>
                                        <div class="form-group">
                                            <div class="d-flex align-items-center mb-3 ml-3" th:each="service : ${services}">
                                                <!-- Custom Checkbox -->
                                                <label class="custom-checkbox position-relative mr-2">
                                                    <input type="checkbox" id="check1" th:field="*{serviceIds}"
                                                           name="serviceIds" th:value="${service.getServiceId()}">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <!-- End Custom Checkbox -->

                                                <label for="check1"
                                                       th:text="${service.getServiceName()}">Checkbox</label>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <!-- Form Row -->
                                    <div class="form-row">
                                        <div class="form-group">
                                            <div class="col-12 text-right">
                                                <button type="submit" class="btn long">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Form Row -->

                            </form>
                            <!-- End Form -->
                        </div>
                        <!-- End Horizontal Form With Icons -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Content -->
    </div>
    <!-- End Main Wrapper -->

    <!-- Footer -->
    <footer class="footer" th:insert="fragments.html :: footer">
    </footer>
    <!-- End Footer -->
</div>
<!-- End wrapper -->

<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.js"
        th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->

<!-- ======= BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
<script src="../static/plugins/nouislider/wNumb.js" th:src="@{/plugins/nouislider/wNumb.js}"></script>
<script src="../static/plugins/nouislider/nouislider.min.js" th:src="@{/plugins/nouislider/nouislider.min.js}"></script>
<script src="../static/plugins/nouislider/nouislider.js" th:src="@{/plugins/nouislider/nouislider.js}"></script>
<script src="../static/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"
        th:src="@{/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js}"></script>
<script src="../static/plugins/bootstrap-touchspin/custom-touchspin.js"
        th:src="@{/plugins/bootstrap-touchspin/custom-touchspin.js}"></script>
<script src="../static/plugins/sweetalert2/sweetalert2.all.min.js"
        th:src="@{/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
<script src="../static/plugins/sweetalert2/sweetalerts.js" th:src="@{/plugins/sweetalert2/sweetalerts.js}">
</script>
<script src="../static/plugins/toastr/toastr.min.js" th:src="@{/plugins/toastr/toastr.min.js}"></script>
<script src="../static/plugins/toastr/toastr.js" th:src="@{/plugins/toastr/toastr.js}"></script>
<script src="../static/plugins/jquery-repeater/repeater.min.js"
        th:src="@{/plugins/jquery-repeater/repeater.min.js}"></script>
<script src="../static/plugins/jquery-repeater/custom-repeater.js"
        th:src="@{/plugins/jquery-repeater/custom-repeater.js}"></script>

<script type="text/javascript">
    $("#contactAddModal1").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = "http://localhost:8080/api/services/create";
        var serviceDTO = {
            "serviceName": $("#serviceName").val(),
            "price": $("#servicePrice").val()
        }

        $.ajax({
            method: 'POST',
            url: actionUrl,
            dataType: 'json',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': operatingUser
            },
            data: JSON.stringify(serviceDTO),
            success: function (data) {
                if (data.success === 1) {
                    $('#contactAddModal').modal('hide');
                }
                alert("Service added successful");
            },
            error: function (request, status, error) {
                alert(request.responseText);
                if (request.status === 409) {
                    $("#errorLabel").text("Service with name " + $("#serviceName").val() + " already exists");
                } else {
                    $("#errorLabel").text(request.responseText);
                }
            }
        }).complete(function () {
            $('#contactAddModal').modal('hide');
            location.reload();
        }).done(function () {
            $('#contactAddModal').modal('hide');
            location.reload();
        })
    });
</script>
<script>
</script>

<script>
    $('#brandSelect').change(function () {
        $('#modelsSelect')
            .find('option')
            .remove()
            .end();
        var brandId = $(this).val();
        console.log(brandId);
        $.getJSON("http://localhost:8080/api/vehicles/brands/" + brandId + "/models", function (result) {
            $.each(result, function (key, value) {
                console.log(value['modelName']);
                $("#modelsSelect").append('<option value="' + value['modelId'] + '">' + value['modelName'] + '</option>');
            });
            document.getElementById("modelsSelect").disabled = false;
            document.getElementById("yearSelect").disabled = false;
        });
    })

    $('#check').change(function () {
        if (document.getElementById("check").checked) {
            console.log("checked");

            document.getElementById("modelsSelect").disabled = true;
            document.getElementById("brandSelect").disabled = true;
            document.getElementById("yearSelect").disabled = true;
            document.getElementById("vin").disabled = true;

            $("#licensePlate").replaceWith('<select class="theme-input-style" name="licensePlate" id="licensePlate">\n' +
                '                                                    <option>---</option>' + '</select>');
            $("#vin").replaceWith('<select class="theme-input-style" name="vin" id="vin">\n' +
                '                                                    <option>---</option>' + '</select>');

            $.getJSON("http://localhost:8080/api/vehicles/registered/users/" + user, function (result) {
                $.each(result, function (key, value) {
                    $("#licensePlate").append('<option value="' + value['licensePlate'] + '" data-vehicle-id="' + value['registeredVehicleId'] + '">' + value['licensePlate'] + '</option>');
                    $("#vin").append('<option value="' + value['vin'] + '">' + value['vin'] + '</option>');
                });
                $('#licensePlate').change(function () {
                    var vehicleId = $(this).find(':selected').attr('data-vehicle-id');
                    // var vehicleId = $(this).val();
                    console.log(vehicleId);
                    $.getJSON("http://localhost:8080/api/vehicles/registered/" + vehicleId, function (result) {
                        $('#brandSelect').val(result.vehicle.model.brand.brandId).change();
                        $("#modelsSelect").append('<option value="' + result.vehicle.model.modelId + '">' + result.vehicle.model.modelName + '</option>');
                        $('#modelsSelect').val(result.vehicle.model.modelId).change();
                        $('#yearSelect').val(result.vehicle.year).change();
                        $('#vin').val(result.vin).change();
                    });

                    document.getElementById("modelsSelect").disabled = true;
                    document.getElementById("brandSelect").disabled = true;
                    document.getElementById("yearSelect").disabled = true;
                    document.getElementById("vin").disabled = true;
                })
            });
        } else {
            console.log("unchecked");
            $("#licensePlate").replaceWith('<input type="text" id="licensePlate" class="form-control pl-1"\n' +
                '                                                       placeholder="Choose brand">');
            $("#vin").replaceWith('<input type="text" id="vin" class="form-control pl-1"\n' +
                '                                                       placeholder="Choose brand">');
            document.getElementById("brandSelect").disabled = false;
        }
    })

    $("#form").submit(function (e) {
        $(':disabled').each(function (e) {
            $(this).removeAttr('disabled');
        })
    });
</script>
<script>

</script>
<!-- ======= End BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
</body>
</html>