<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Page Title -->
    <title>Smart Garage - for the smart driver</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/fonts/icofont/icofont.min.css" th:href="@{/fonts/icofont/icofont.min.css}">
    <link rel="stylesheet" href="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.css"
          th:href="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.css}">
    <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

    <!-- ======= BEGIN PAGE LEVEL PLUGINS STYLES ======= -->
    <link rel="stylesheet" href="../static/plugins/nouislider/nouislider.min.css"
          th:href="@{/plugins/nouislider/nouislider.min.css}">
    <link rel="stylesheet" href="../static/plugins/sweetalert2/sweetalert2.min.css"
          th:href="@{/plugins/sweetalert2/sweetalert2.min.css}">
    <link rel="stylesheet" href="../static/plugins/toastr/toastr.min.css"
          th:href="@{/plugins/toastr/toastr.min.css}">
    <!-- ======= END BEGIN PAGE LEVEL PLUGINS STYLES ======= -->

    <!-- ======= MAIN STYLES ======= -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- ======= END MAIN STYLES ======= -->

</head>

<body>

<!-- Offcanval Overlay -->
<div class="offcanvas-overlay"></div>
<!-- Offcanval Overlay -->

<!-- Wrapper -->
<div class="wrapper">

    <!-- Header -->
    <header class="header white-bg fixed-top d-flex align-content-center flex-wrap"
            th:insert="fragments.html :: header">
    </header>
    <!-- End Header -->

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Sidebar -->
        <nav class="sidebar" data-trigger="scrollbar" th:insert="fragments.html :: sidebar">
        </nav>
        <!-- End Sidebar -->

        <!-- Main Content -->

        <div class="main-content d-flex flex-column flex-md-row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Card -->
                        <div class="form-element">
                            <!-- Contact Header -->
                            <form action="#" th:action="@{/customers/new-customer}" th:object="${customerDTO}" method="post">
                                <h4 class="mb-4">Customer details</h4>

                                <div class="mb-4">
                                    <label class="bold black mb-2" for="firstName">First name</label>
                                    <input type="text" id="firstName" class="theme-input-style"
                                           minlength="2" maxlength="32"
                                           title="First should be between 3 and 32 symbols"
                                           placeholder="Type Here" required th:field="*{firstName}">
                                </div>

                                <div class="mb-4">
                                    <label class="bold black mb-2" for="lastName">Last name</label>
                                    <input type="text" id="lastName" class="theme-input-style"
                                           minlength="2" maxlength="32"
                                           title="Last name should be between 3 and 32 symbols"
                                           placeholder="Type Here" required th:field="*{lastName}">
                                </div>

                                <div class="mb-4">
                                    <label class="bold black mb-2" for="phoneNumber">Phone number</label>
                                    <input type="text" id="phoneNumber" class="theme-input-style"
                                           minlength="10" maxlength="10"
                                           title="Phone number should be exactly 10 symbols"
                                           placeholder="Type Here" required th:field="*{phoneNumber}">
                                </div>

                                <div class="mb-4">
                                    <label class="bold black mb-2" for="email">Email</label>
                                    <input type="email" id="email" class="theme-input-style"
                                           title="Email is required"
                                           placeholder="Type Here" required th:field="*{email}">
                                    <label class="error" th:errors="*{email}">Placeholder</label>
                                </div>

                                <div class="">
                                    <button type="submit" id="submit" class="btn">
                                        Save Changes
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Content -->
    </div>
    <!-- End Main Wrapper -->

    <!-- Footer -->
    <footer class="footer" th:insert="fragments.html :: footer">
    </footer>
    <!-- End Footer -->
</div>
<!-- End wrapper -->

<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.js"
        th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->

<!-- ======= BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
<script src="../static/plugins/nouislider/wNumb.js" th:src="@{/plugins/nouislider/wNumb.js}"></script>
<script src="../static/plugins/nouislider/nouislider.min.js" th:src="@{/plugins/nouislider/nouislider.min.js}"></script>
<script src="../static/plugins/nouislider/nouislider.js" th:src="@{/plugins/nouislider/nouislider.js}"></script>
<script src="../static/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"
        th:src="@{/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js}"></script>
<script src="../static/plugins/bootstrap-touchspin/custom-touchspin.js"
        th:src="@{/plugins/bootstrap-touchspin/custom-touchspin.js}"></script>
<script src="../static/plugins/sweetalert2/sweetalert2.all.min.js"
        th:src="@{/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
<script src="../static/plugins/sweetalert2/sweetalerts.js" th:src="@{/plugins/sweetalert2/sweetalerts.js}">
</script>
<script src="../static/plugins/toastr/toastr.min.js" th:src="@{/plugins/toastr/toastr.min.js}"></script>
<script src="../static/plugins/toastr/toastr.js" th:src="@{/plugins/toastr/toastr.js}"></script>

<script>
    function editCustomer(customerId) {
        $('#contactEditModal').modal('show');
        console.log(customerId);

        $.getJSON("http://localhost:8080/api/users/" + customerId, function (result) {
            $('#edit-email1').val(result.email);
            $('#edit-phone1').val(result.phoneNumber);
        });
        console.log($('#edit-email1').val());
        console.log($('#edit-phone1').val());

        var actionUrl = "http://localhost:8080/api/users/" + customerId;
        var userDTO = {
            "email": $('#edit-email1').val(),
            "phoneNumber": $('#edit-phone1').val()
        }
        console.log($('#edit-email1').val());
        console.log($('#edit-phone1').val());

        $('#contactEditModal').submit(function (e) {
            $.ajax({
                method: 'PUT',
                url: actionUrl,
                dataType: 'json',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': operatingUser
                },
                data: JSON.stringify(userDTO),
                success: function (data) {
                    console.log(userDTO);
                    if (data.success === 1) {
                        $('#contactEditModal').modal('hide');
                    }
                    // alert("Service added successful");
                },
                error: function (request, status, error) {
                    // alert(request.responseText);
                    if (request.status === 409) {
                        $("#errorLabel").text("User with email " + $("#email").val() + " already exists");
                    } else {
                        $("#errorLabel").text(request.responseText);
                    }
                }
            });
        });
    }
</script>
<script>
    function deleteCustomer(customerId) {
        Swal.fire({
            title: "Are you sure? ",
            text: "You won't be able to revert this!",
            type: "warning",
            showCancelButton: !0,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!",
            confirmButtonClass: "btn long",
            cancelButtonClass: "btn long bg-danger ml-1",
            buttonsStyling: !1,
            preConfirm: function (t) {
                return fetch("http://localhost:8080/api/users/" + customerId, {
                    method: 'DELETE',
                    headers: {
                        'Authorization': operatingUser
                    }
                })
                    .then(function (t) {
                        if (!t.ok) throw (console.log(t), new Error(t.statusText));
                    })
                    .catch(function (t) {
                        Swal.showValidationMessage("Request failed:  " + t);
                    });
            },
            allowOutsideClick: function () {
                Swal.isLoading();
            },
        }).then(function (t) {
            t.value && Swal.fire({
                type: "success",
                title: "Deleted!",
                text: "This service has been deleted.",
                confirmButtonText: "OK",
                confirmButtonClass: "btn btn-success"
            }).then(function () {
                location.reload();
            })
        });
    }
</script>
<script type="text/javascript">
    $("#contactAddModal1").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = "http://localhost:8080/api/services/create";
        var serviceDTO = {
            "serviceName": $("#serviceName").val(),
            "price": $("#servicePrice").val()
        }

        $.ajax({
            method: 'POST',
            url: actionUrl,
            dataType: 'json',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': operatingUser
            },
            data: JSON.stringify(serviceDTO),
            success: function (data) {
                if (data.success === 1) {
                    $('#contactAddModal').modal('hide');
                }
                alert("Service added successful");
            },
            error: function (request, status, error) {
                alert(request.responseText);
                if (request.status === 409) {
                    $("#errorLabel").text("Service with name " + $("#serviceName").val() + " already exists");
                } else {
                    $("#errorLabel").text(request.responseText);
                }
            }
        }).complete(function () {
            $('#contactAddModal').modal('hide');
            location.reload();
        }).done(function () {
            $('#contactAddModal').modal('hide');
            location.reload();
        })
    });
</script>
<!-- ======= End BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
</body>
</html>