<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Page Title -->
    <title>Smart Garage - for the smart driver</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/fonts/icofont/icofont.min.css" th:href="@{/fonts/icofont/icofont.min.css}">
    <link rel="stylesheet" href="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.css"
          th:href="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.css}">
    <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

    <!-- ======= BEGIN PAGE LEVEL PLUGINS STYLES ======= -->
    <link rel="stylesheet" href="../static/plugins/nouislider/nouislider.min.css"
          th:href="@{/plugins/nouislider/nouislider.min.css}">
    <link rel="stylesheet" href="../static/plugins/sweetalert2/sweetalert2.min.css"
          th:href="@{/plugins/sweetalert2/sweetalert2.min.css}">
    <link rel="stylesheet" href="../static/plugins/toastr/toastr.min.css"
    th:href="@{/plugins/toastr/toastr.min.css}">
    <!-- ======= END BEGIN PAGE LEVEL PLUGINS STYLES ======= -->

    <!-- ======= MAIN STYLES ======= -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- ======= END MAIN STYLES ======= -->

</head>

<body>

<!-- Offcanval Overlay -->
<div class="offcanvas-overlay"></div>
<!-- Offcanval Overlay -->

<!-- Wrapper -->
<div class="wrapper">

    <!-- Header -->
    <header class="header white-bg fixed-top d-flex align-content-center flex-wrap" th:insert="fragments.html :: header">
    </header>

    <!-- End Header -->

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Sidebar -->
        <nav class="sidebar" data-trigger="scrollbar" th:insert="fragments.html :: sidebar">
        </nav>
        <!-- End Sidebar -->

        <!-- Main Content -->

        <div class="main-content d-flex flex-column flex-md-row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Card -->
                        <div class="card bg-transparent">
                            <!-- Contact Header -->
                            <div class="contact-header d-flex align-items-sm-center media flex-column flex-sm-row bg-white mb-30">
                                <div class="contact-header-left media-body d-flex align-items-center mr-4">
                                    <!-- Add New Contact Btn -->
                                    <div class="add-new-contact mr-20" th:if="${not #strings.equalsIgnoreCase(session.currentUser.getUserRole().getRoleName(), 'User')}">
                                        <a href="#" class="btn-circle" data-toggle="modal"
                                           data-target="#contactAddModal">
                                            <img src="../static/img/svg/plus_white.svg"
                                                 th:src="@{/img/svg/plus_white.svg}" alt="" class="svg">
                                        </a>
                                    </div>
                                    <!-- End Add New Contact Btn -->

                                    <!-- Search Form -->
                                    <form action="#" th:action="@{/services/filter}">
                                        <div class="form-row">
                                            <div class="form-group mt-3 ml-10">
                                                <div class="theme-input-group style--two">
                                                    <input type="text" name="name" class="theme-input-style"
                                                           placeholder="Search Here">

                                                </div>
                                            </div>
                                            <!-- End Search Form -->

                                            <!--                                    <label for="demo2" class="control-label">Decimal</label>-->
                                            <div class="form-group ml-35 mt-3">
                                                <div class="input-group">
                                                    <input id="demo2" style="width: 60px; height: 40px;" type="text"
                                                           placeholder="Min" name="demo2">
                                                </div>
                                            </div>
                                            <div class="form-group ml-35 mt-3">
                                                <div class="input-group">
                                                    <input id="demo3" style="width: 60px; height: 40px;" type="text"
                                                           placeholder="Max" name="demo3">
                                                </div>
                                            </div>
                                            <div class="form-group mt-3 ml-20">
                                                <div class="custom-select style--two">
                                                    <select class="theme-input-style" style="width: 250px;"
                                                            id="exampleSelect1" name="sort">
                                                        <option value="name">Sort by name (Ascending)</option>
                                                        <option value="name_desc">Sort by name (Descending)</option>
                                                        <option value="price">Sort by price (Ascending)</option>
                                                        <option value="price_desc">Sort by price (Descending)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-2 ml-20">
                                                <div class="button-group pt-1">
                                                    <button type="submit" class="btn">Search</button>
                                                    <button href="#" th:href="@{/services}"
                                                            class="link-btn bg-transparent ml-3 soft-pink">
                                                        Clear
                                                    </button>
                                                </div>
                                                <!--                                            <button type="submit"><img src="../../../assets/img/svg/search-icon.svg"-->
                                                <!--                                                                       alt=""-->
                                                <!--                                                                       class="svg"></button>-->
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <!--                                <div class="contact-header-right d-flex align-items-center justify-content-end mt-3 mt-sm-0">-->
                                <!--                                    &lt;!&ndash; Grid &ndash;&gt;-->
                                <!--                                    <div class="grid">-->
                                <!--                                        <a href="contact-grid.html"><img src="../../../assets/img/svg/grid-icon.svg"-->
                                <!--                                                                         alt="" class="svg"></a>-->
                                <!--                                    </div>-->
                                <!--                                    &lt;!&ndash; End Grid &ndash;&gt;-->

                                <!--                                    &lt;!&ndash; Starred &ndash;&gt;-->
                                <!--                                    <div class="star">-->
                                <!--                                        <a href="#"><img src="../../../assets/img/svg/star.svg" alt="" class="svg"></a>-->
                                <!--                                    </div>-->
                                <!--                                    &lt;!&ndash; End Starred &ndash;&gt;-->

                                <!--                                    &lt;!&ndash; Delete Mail &ndash;&gt;-->
                                <!--                                    <div class="delete_mail">-->
                                <!--                                        <a href="#"><img src="../../../assets/img/svg/delete.svg" alt=""-->
                                <!--                                                         class="svg"></a>-->
                                <!--                                    </div>-->
                                <!--                                    &lt;!&ndash; End Delete Mail &ndash;&gt;-->

                                <!--                                    &lt;!&ndash; Pagination &ndash;&gt;-->
                                <!--                                    <div class="pagination style&#45;&#45;two d-flex flex-column align-items-center ml-n2">-->
                                <!--                                        <ul class="list-inline d-inline-flex align-items-center">-->
                                <!--                                            <li><a href="#">-->
                                <!--                                                <img src="../../../assets/img/svg/left-angle.svg" alt="" class="svg">-->
                                <!--                                            </a></li>-->
                                <!--                                            <li><a href="#" class="current">-->
                                <!--                                                <img src="../../../assets/img/svg/right-angle.svg" alt="" class="svg">-->
                                <!--                                            </a></li>-->
                                <!--                                        </ul>-->
                                <!--                                    </div>-->
                                <!--                                    &lt;!&ndash; End Pagination &ndash;&gt;-->
                                <!--                                </div>-->
                            </div>
                            <!-- End Contact Header -->

                            <div class="table-responsive">
                                <!-- Invoice List Table -->
                                <table class="contact-list-table text-nowrap bg-white">
                                    <thead>
                                    <tr>
                                        <th>
                                            <!-- Custom Checkbox -->
                                            <label class="custom-checkbox">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <!-- End Custom Checkbox -->

                                            <!-- Star -->
                                            <div class="star">
                                                <a href="#"><img src="../../../assets/img/svg/star.svg" alt=""
                                                                 class="svg"></a>
                                            </div>
                                            <!-- End Star -->
                                        </th>
                                        <th>ID</th>
                                        <th>Service Name</th>
                                        <th>Price</th>
                                        <th th:if="${not #strings.equalsIgnoreCase(session.currentUser.getUserRole().getRoleName(), 'User')}">Executed</th>
                                        <th th:if="${not #strings.equalsIgnoreCase(session.currentUser.getUserRole().getRoleName(), 'User')}">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="service : ${services}">
                                        <td>
                                            <!-- Custom Checkbox -->
                                            <label class="custom-checkbox">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <!-- End Custom Checkbox -->

                                            <!-- Star -->
                                            <div class="star">
                                                <a href="#"><img src="../../../assets/img/svg/star.svg" alt=""
                                                                 class="svg"></a>
                                            </div>
                                            <!-- End Star -->
                                        </td>
                                        <td th:text="${service.getServiceId()}">1</td>
                                        <td th:text="${service.getServiceName()}">Oil change</td>
                                        <td th:text="${service.getPrice()}">28.50 $</td>
                                        <td th:if="${not #strings.equalsIgnoreCase(session.currentUser.getUserRole().getRoleName(), 'User')}" th:text="${service.getVisits().size()} + ' times'">565 times</td>
                                        <td th:if="${not #strings.equalsIgnoreCase(session.currentUser.getUserRole().getRoleName(), 'User')}">
                                            <span>
                                            <button id="delete-service" style="background-color: white"
                                                    th:onclick="deleteService([[${service.getServiceId()}]])">
                                                <img src="../static/img/svg/c-close.svg"
                                                     th:src="@{/img/svg/c-close.svg}" alt=""
                                                     class="svg">
                                                <!--                                            </button>-->
                                                <script th:inline="javascript">
                                                    var operatingUser = [[${session.currentUser.getUsername()}]];
                                                </script>
                                            </button>
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- End Invoice List Table -->
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Contact Add New PopUp -->
                        <div id="contactAddModal" class="modal fade">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                        <form action="http://localhost:8080/api/services/create" th:action="@{/services/create}" th:object="${serviceDTO}" method="post" id="contactAddModal1">
                                            <div class="media flex-column flex-sm-row">
                                               <div class="contact-account-setting media-body">

                                                    <h4 class="mb-4">Account Settings</h4>

                                                    <div class="mb-4">
                                                        <label class="bold black mb-2" for="serviceName">Name</label>
                                                        <input type="text" id="serviceName" class="theme-input-style"
                                                               minlength="2" maxlength="32" title="Service name should be between 3 and 32 symbols"
                                                               placeholder="Type Here" required th:field="*{serviceName}">
                                                    </div>

                                                    <div class="mb-4">
                                                        <label class="bold black mb-2" for="servicePrice">Price</label>
                                                        <input type="text" id="servicePrice" class="theme-input-style"
                                                               pattern="^\d*(\.\d{0,2})?$" title="Enter valid number"
                                                               placeholder="Type Here" required th:field="*{price}">
                                                        <label id="errorLabel" style="color: red"></label>
                                                    </div>

                                                    <div class="">
                                                        <button type="submit" id="submit" class="btn">
                                                                Save Changes
                                                        </button>

                                                        <a href="#" class="cancel font-14 bold" data-dismiss="modal">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- End Modal Body -->
                                </div>
                            </div>
                        </div>
                        <!-- End Contact Add New PopUp -->

                        <!-- Contact Edit PopUp -->
                        <div id="contactEditModal" class="modal fade">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                        <form action="#">
                                            <div class="media flex-column flex-sm-row">
                                                <div class="modal-upload-avatar mr-0 mr-sm-3 mr-md-5 mb-5 mb-sm-0">

                                                    <div class="attach-file style--two mb-3">
                                                        <img src="../../../assets/img/product/pg2.png"
                                                             class="profile-avatar" alt="">
                                                        <div class="upload-button">
                                                            <img src="../../../assets/img/svg/gallery.svg" alt=""
                                                                 class="svg mr-2">
                                                            <span>Upload Photo</span>
                                                            <input class="file-input" type="file" id="fileUpload2"
                                                                   accept="image/*">
                                                        </div>
                                                    </div>

                                                    <div class="content">
                                                        <h4 class="mb-2">Upload a Photo</h4>
                                                        <p class="font-12 c4">Allowed JPG, GIF or PNG. Max size <br/> of
                                                            800kB</p>
                                                    </div>
                                                </div>


                                                <div class="contact-account-setting media-body">

                                                    <h4 class="mb-4">Account Settings</h4>

                                                    <div class="mb-4">
                                                        <label class="bold black mb-2" for="as_name2">Name</label>
                                                        <input type="text" id="as_name2" class="theme-input-style"
                                                               value="Arden Spencer" required>
                                                    </div>

                                                    <div class="mb-4">
                                                        <label class="bold black mb-2" for="as_email2">Email</label>
                                                        <input type="email" id="as_email2" class="theme-input-style"
                                                               value="Evangeline62@yahoo.com" required>
                                                    </div>

                                                    <div class="mb-4">
                                                        <label class="bold black mb-2" for="as_phone2">Phone</label>
                                                        <input type="text" id="as_phone2" class="theme-input-style"
                                                               value="(023) 708-6818 x4267" required>
                                                    </div>

                                                    <div class="mb-4">
                                                        <label class="bold black mb-2" for="as_age2">Age</label>
                                                        <input type="text" id="as_age2" class="theme-input-style"
                                                               value="28" required>
                                                    </div>

                                                    <div class="mb-4">
                                                        <label class="bold black mb-2" for="as_post2">Post</label>
                                                        <input type="text" id="as_post2" class="theme-input-style"
                                                               value="UX Researcher" required>
                                                    </div>

                                                    <div class="mb-30">
                                                        <label class="bold black mb-2">Joining Date</label>

                                                        <div class="date datepicker dashboard-date style--two"
                                                             id="datePickerExample2">
                                                            <span class="input-group-addon mr-0"><img
                                                                    src="../../../assets/img/svg/calender.svg" alt=""
                                                                    class="svg"></span>
                                                            <input type="text" class="pl-2" required>
                                                        </div>
                                                    </div>

                                                    <div class="">
                                                        <a href="#" class="btn mr-4">Save Changes</a>
                                                        <a href="#" class="cancel font-14 bold" data-dismiss="modal">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- End Modal Body -->
                                </div>
                            </div>
                        </div>
                        <!-- End Contact Edit PopUp -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Content -->
    </div>
    <!-- End Main Wrapper -->

    <!-- Footer -->
    <footer class="footer" th:insert="fragments.html :: footer">
    </footer>

    <!-- End Footer -->
</div>
<!-- End wrapper -->

<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.js"
        th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->

<!-- ======= BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
<script src="../static/plugins/nouislider/wNumb.js" th:src="@{/plugins/nouislider/wNumb.js}"></script>
<script src="../static/plugins/nouislider/nouislider.min.js" th:src="@{/plugins/nouislider/nouislider.min.js}"></script>
<script src="../static/plugins/nouislider/nouislider.js" th:src="@{/plugins/nouislider/nouislider.js}"></script>
<script src="../static/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"
        th:src="@{/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js}"></script>
<script src="../static/plugins/bootstrap-touchspin/custom-touchspin.js"
        th:src="@{/plugins/bootstrap-touchspin/custom-touchspin.js}"></script>
<script src="../static/plugins/sweetalert2/sweetalert2.all.min.js"
        th:src="@{/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
<script src="../static/plugins/sweetalert2/sweetalerts.js" th:src="@{/plugins/sweetalert2/sweetalerts.js}">
</script>
<script src="../static/plugins/toastr/toastr.min.js" th:src="@{/plugins/toastr/toastr.min.js}"></script>
<script src="../static/plugins/toastr/toastr.js" th:src="@{/plugins/toastr/toastr.js}"></script>

<script>
    function deleteService(serviceId) {
        Swal.fire({
            title: "Are you sure? ",
            text: "You won't be able to revert this!",
            type: "warning",
            showCancelButton: !0,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!",
            confirmButtonClass: "btn long",
            cancelButtonClass: "btn long bg-danger ml-1",
            buttonsStyling: !1,
            preConfirm: function (t) {
                return fetch("http://localhost:8080/api/services/delete/" + serviceId, {
                    method: 'DELETE',
                    headers: {
                        'Authorization': operatingUser
                    }
                })
                    .then(function (t) {
                        if (!t.ok) throw (console.log(t), new Error(t.statusText));
                    })
                    .catch(function (t) {
                        Swal.showValidationMessage("Request failed:  " + t);
                    });
            },
            allowOutsideClick: function () {
                Swal.isLoading();
            },
        }).then(function (t) {
            t.value && Swal.fire({
                type: "success",
                title: "Deleted!",
                text: "This service has been deleted.",
                confirmButtonText: "OK",
                confirmButtonClass: "btn btn-success"
            }).then(function(){
                location.reload();
            })
        });
    }
</script>
<script type="text/javascript">
    $("#contactAddModal1").submit(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = "http://localhost:8080/api/services/create";
        var serviceDTO = {
            "serviceName" : $("#serviceName").val(),
            "price" : $("#servicePrice").val()
        }

        $.ajax({
            method: 'POST',
            url : actionUrl,
            dataType : 'json',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': operatingUser
            },
            data: JSON.stringify(serviceDTO),
            success: function(data)
            {
                if(data.success === 1){
                    $('#contactAddModal').modal('hide');
                }
                // alert("Service added successful");
            },
            error: function (request, status, error) {
                // alert(request.responseText);
                if(request.status === 409){
                    $("#errorLabel").text("Service with name " + $("#serviceName").val() + " already exists");
                } else {
                    $("#errorLabel").text(request.responseText);
                }
            }
        }).complete(function (){
            $('#contactAddModal').modal('hide');
            location.reload();
        }).done(function(){
                $('#contactAddModal').modal('hide');
                location.reload();
        })
    });
</script>
<!-- ======= End BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
</body>
</html>