<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Page Title -->
    <title>Smart Garage - for the smart driver</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/fonts/icofont/icofont.min.css" th:href="@{/fonts/icofont/icofont.min.css}">
    <link rel="stylesheet" href="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.css"
          th:href="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.css}">
    <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

    <!-- ======= BEGIN PAGE LEVEL PLUGINS STYLES ======= -->
    <link rel="stylesheet" href="../static/plugins/nouislider/nouislider.min.css"
          th:href="@{/plugins/nouislider/nouislider.min.css}">
    <link rel="stylesheet" href="../static/plugins/sweetalert2/sweetalert2.min.css"
          th:href="@{/plugins/sweetalert2/sweetalert2.min.css}">
    <link rel="stylesheet" href="../static/plugins/toastr/toastr.min.css"
    th:href="@{/plugins/toastr/toastr.min.css}">
    <!-- ======= END BEGIN PAGE LEVEL PLUGINS STYLES ======= -->

    <!-- ======= MAIN STYLES ======= -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- ======= END MAIN STYLES ======= -->

</head>

<body>

<!-- Offcanval Overlay -->
<div class="offcanvas-overlay"></div>
<!-- Offcanval Overlay -->

<!-- Wrapper -->
<div class="wrapper">

    <!-- Header -->
    <header class="header white-bg fixed-top d-flex align-content-center flex-wrap">
        <!-- Logo -->
        <div class="logo">
            <a href="index.html" class="default-logo"><img src="../static/img/smart-garage-icon.png"
                                                           th:src="@{/img/smart-garage-icon.png}" alt=""></a>
            <a href="index.html" class="mobile-logo"><img src="../static/img/mobile-logo.png"
                                                          th:src="@{/img/mobile-logo.png}" alt=""></a>
        </div>
        <!-- End Logo -->

        <!-- Main Header -->
        <div class="main-header">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-3 col-lg-1 col-xl-4">
                        <!-- Header Left -->
                        <div class="main-header-left h-100 d-flex align-items-center">
                            <!-- Main Header User -->
                            <div class="main-header-user">
                                <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                    <div class="menu-icon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>

                                    <div class="user-profile d-xl-flex align-items-center d-none">
                                        <!-- User Avatar -->
                                        <div class="user-avatar">
                                            <img src="../static/img/avatar/user.png" th:src="@{/img/avatar/user.png}"
                                                 alt="">
                                        </div>
                                        <!-- End User Avatar -->

                                        <!-- User Info -->
                                        <div class="user-info">
                                            <h4 class="user-name"
                                                th:text="${session.currentUser.firstName} + ' ' + ${session.currentUser.lastName}">
                                                Abrilay Khatun</h4>
                                            <p class="user-email" th:text="${session.currentUser.email}">
                                                abrilakh@gmail.com</p>
                                        </div>
                                        <!-- End User Info -->
                                    </div>
                                </a>
                                <div class="dropdown-menu">
                                    <a href="#">About</a>
                                    <a href="#" th:href="@{/logout}">Log Out</a>
                                </div>
                            </div>
                            <!-- End Main Header User -->

                            <!-- Main Header Menu -->
                            <div class="main-header-menu d-block d-lg-none">
                                <div class="header-toogle-menu">
                                    <!-- <i class="icofont-navigation-menu"></i> -->
                                    <img src="../static/img/menu.png" th:src="@{/img/menu.png}" alt="">
                                </div>
                            </div>
                            <!-- End Main Header Menu -->
                        </div>
                        <!-- End Header Left -->
                    </div>
                    <div class="col-9 col-lg-11 col-xl-8">
                        <!-- Header Right -->
                        <div class="main-header-right d-flex justify-content-end">
                            <ul class="nav">
                                <li class="ml-0">
                                    <!-- Main Header Language -->
                                    <!-- End Main Header Language -->
                                </li>
                                <li class="ml-0 d-none d-lg-flex">
                                    <!-- Main Header Print -->
                                    <!-- End Main Header Print -->
                                </li>
                                <li class="d-none d-lg-flex">
                                    <!-- Main Header Time -->
                                    <div class="main-header-date-time text-right">
                                        <h3 class="time">
                                            <span id="hours" th:text="${#temporals.format(localDate, 'HH')}">21</span>
                                            <span id="point">:</span>
                                            <span id="min" th:text="${#temporals.format(localDate, 'mm')}">06</span>
                                        </h3>
                                        <span class="date"
                                              th:text="${#temporals.format(localDate, 'EEEE')} + ', ' + ${#temporals.format(localDate, 'dd/MM/yyyy')}"><span
                                                id="date">Tue, 12 October 2019</span></span>
                                    </div>
                                    <!-- End Main Header Time -->
                                </li>
                                <li class="d-none d-lg-flex">
                                    <!-- Main Header Button -->
                                    <div class="main-header-btn ml-md-1">
                                        <a href="#" class="btn">Pending Tasks</a>
                                    </div>
                                    <!-- End Main Header Button -->
                                </li>
                                <li class="order-2 order-sm-0">
                                    <!-- Main Header Search -->
                                    <div class="main-header-search">
                                        <form action="#" class="search-form">
                                            <div class="theme-input-group header-search">
                                                <input type="text" class="theme-input-style" placeholder="Search Here">

                                                <button type="submit"><img src="../static/img/svg/search-icon.svg"
                                                                           th:src="@{/img/svg/search-icon.svg}" alt=""
                                                                           class="svg"></button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- End Main Header Search -->
                                </li>
                            </ul>
                        </div>
                        <!-- End Header Right -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Header -->
    </header>
    <!-- End Header -->

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Sidebar -->
        <nav class="sidebar" data-trigger="scrollbar">
            <!-- Sidebar Header -->
            <div class="sidebar-header d-none d-lg-block">
                <!-- Sidebar Toggle Pin Button -->
                <div class="sidebar-toogle-pin">
                    <i class="icofont-tack-pin"></i>
                </div>
                <!-- End Sidebar Toggle Pin Button -->
            </div>
            <!-- End Sidebar Header -->

            <!-- Sidebar Body -->
            <div class="sidebar-body">
                <!-- Nav -->
                <ul class="nav">
                    <li class="nav-category">Main</li>
                    <li>
                        <a th:href="@{/employee/home}" href="#">
                            <i class="icofont-pie-chart"></i>
                            <span class="link-title">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/services}">
                            <i class="icofont-shopping-cart"></i>
                            <span class="link-title">Services</span>
                        </a>
                        <!-- End Sub Menu -->
                    </li>
                    <li>
                        <a href="pages/social-media.html">
                            <i class="icofont-chart-histogram"></i>
                            <span class="link-title">Visits</span>
                        </a>
                    </li>
                    <li class="nav-category">apps</li>
                    <li class="active">
                        <a href="#" th:href="@{/customers}">
                            <i class="icofont-wechat"></i>
                            <span class="link-title">Customers</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icofont-file-document"></i>
                            <span class="link-title">invoice</span>
                        </a>

                        <!-- Sub Menu -->
                        <ul class="nav sub-menu">
                            <li><a href="pages/apps/invoice/invoice-list.html">Invoice List</a></li>
                            <li><a href="pages/apps/invoice/invoice-details.html">details</a></li>
                            <li><a href="pages/apps/invoice/invoice-add-new.html">add new</a></li>
                        </ul>
                        <!-- End Sub Menu -->
                    </li>
                </ul>
                <!-- End Nav -->
            </div>
            <!-- End Sidebar Body -->
        </nav>
        <!-- End Sidebar -->

        <!-- Main Content -->

        <div class="main-content d-flex flex-column flex-md-row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="mx-2 mx-lg-4 mx-xl-5">
                            <div class="card mt-1">
                                <!-- User Profile Nav -->
                                <div class="user-profile-nav d-flex justify-content-xl-between align-items-xl-center flex-column flex-xl-row">
                                    <!-- Profile Info -->
                                    <div class="profile-info d-flex align-items-center ml-35">
                                        <div>
                                            <h3 th:text="${customer.getFirstName()} + ' ' + ${customer.getLastName()}">Abrilay Khatun</h3>
                                        </div>
                                    </div>
                                    <!-- End Profile Info -->

                                    <div class="d-flex align-items-center mt-3 mt-xl-0">
                                        <ul class="nav profile-nav-tabs">
                                            <li>
                                                <a class="p_nav-link has-before active" href="#">General info</a>
                                            </li>
                                            <li>
                                                <a class="p_nav-link" href="#">Cars</a>
                                            </li>
                                            <li>
                                                <a class="p_nav-link" href="#">Visits</a>
                                            </li>
                                        </ul>

                                        <div class="px-3">
                                            <!-- Dropdown Button -->
                                            <div class="dropdown-button">
                                                <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                                    <div class="menu-icon style--two w-auto justify-content-center mr-0">
                                                        <span></span>
                                                        <span></span>
                                                        <span></span>
                                                    </div>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="edit-profile.html">Edit Profile</a>
                                                    <a href="user-dashboard.html">User Dashboard</a>
                                                </div>
                                            </div>
                                            <!-- End Dropdown Button -->
                                        </div>
                                    </div>

                                </div>
                                <!-- End User Profile Nav -->
                            </div>

                            <div class="mt-30">
                                <!-- Card -->
                                <div class="card col-3">
                                    <h3 class="mt-3 ml-20" style="color: #8280FD;">Personal details</h3>
                                    <div class="p-30">
                                        <div class="invoice invoice-form">
                                            <ul class="list-invoice">
                                                <li class="user bold black font-17" th:text="${customer.getFirstName()} + ' ' + ${customer.getLastName()}">Adam Hudson</li>
                                                <li class="call" th:text="${customer.getPhoneNumber()}">0875454545
                                                </li>
                                                <li class="mail">
                                                    <a href="#" th:text="${customer.getEmail()}">adamhud@email.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Content -->
    </div>
    <!-- End Main Wrapper -->

    <!-- Footer -->
    <footer class="footer">
        Dashmin © 2020 created by <a href="https://www.themelooks.com/"> ThemeLooks</a>
    </footer>
    <!-- End Footer -->
</div>
<!-- End wrapper -->

<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.js"
        th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->

<!-- ======= BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
<script src="../static/plugins/nouislider/wNumb.js" th:src="@{/plugins/nouislider/wNumb.js}"></script>
<script src="../static/plugins/nouislider/nouislider.min.js" th:src="@{/plugins/nouislider/nouislider.min.js}"></script>
<script src="../static/plugins/nouislider/nouislider.js" th:src="@{/plugins/nouislider/nouislider.js}"></script>
<script src="../static/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"
        th:src="@{/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js}"></script>
<script src="../static/plugins/bootstrap-touchspin/custom-touchspin.js"
        th:src="@{/plugins/bootstrap-touchspin/custom-touchspin.js}"></script>
<script src="../static/plugins/sweetalert2/sweetalert2.all.min.js"
        th:src="@{/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
<script src="../static/plugins/sweetalert2/sweetalerts.js" th:src="@{/plugins/sweetalert2/sweetalerts.js}">
</script>
<script src="../static/plugins/toastr/toastr.min.js" th:src="@{/plugins/toastr/toastr.min.js}"></script>
<script src="../static/plugins/toastr/toastr.js" th:src="@{/plugins/toastr/toastr.js}"></script>

<script>
    function deleteCustomer(customerId) {
        Swal.fire({
            title: "Are you sure? ",
            text: "You won't be able to revert this!",
            type: "warning",
            showCancelButton: !0,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!",
            confirmButtonClass: "btn long",
            cancelButtonClass: "btn long bg-danger ml-1",
            buttonsStyling: !1,
            preConfirm: function (t) {
                return fetch("http://localhost:8080/api/users/" + customerId, {
                    method: 'DELETE',
                    headers: {
                        'Authorization': operatingUser
                    }
                })
                    .then(function (t) {
                        if (!t.ok) throw (console.log(t), new Error(t.statusText));
                    })
                    .catch(function (t) {
                        Swal.showValidationMessage("Request failed:  " + t);
                    });
            },
            allowOutsideClick: function () {
                Swal.isLoading();
            },
        }).then(function (t) {
            t.value && Swal.fire({
                type: "success",
                title: "Deleted!",
                text: "This service has been deleted.",
                confirmButtonText: "OK",
                confirmButtonClass: "btn btn-success"
            }).then(function(){
                location.reload();
            })
        });
    }
</script>
<script type="text/javascript">
    $("#contactAddModal1").submit(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = "http://localhost:8080/api/services/create";
        var serviceDTO = {
            "serviceName" : $("#serviceName").val(),
            "price" : $("#servicePrice").val()
        }

        $.ajax({
            method: 'POST',
            url : actionUrl,
            dataType : 'json',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': operatingUser
            },
            data: JSON.stringify(serviceDTO),
            success: function(data)
            {
                if(data.success === 1){
                    $('#contactAddModal').modal('hide');
                }
                alert("Service added successful");
            },
            error: function (request, status, error) {
                alert(request.responseText);
                if(request.status === 409){
                    $("#errorLabel").text("Service with name " + $("#serviceName").val() + " already exists");
                } else {
                    $("#errorLabel").text(request.responseText);
                }
            }
        }).complete(function (){
            $('#contactAddModal').modal('hide');
            location.reload();
        }).done(function(){
                $('#contactAddModal').modal('hide');
                location.reload();
        })
    });
</script>
<!-- ======= End BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
</body>
</html>